body {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    padding: 0px 16px 0px 0px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

.logo-image {
    width: auto;
    height: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-family: 'Courier New', Courier, monospace;
}

.presentation {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}